<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>one.tnguyen.alfred.fzf.safari-history</string>
    <key>category</key>
    <string>Internet</string>
    <key>connections</key>
    <dict>
      <key>B72F7D7B-1E7B-4B55-90C3-CFC6B5EA5522</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>DAD248F2-1355-409D-A19A-553B02AE756A</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Tuan Nguyen</string>
    <key>description</key>
    <string>Fuzzy search safari history</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>alfred-fzf-safari-history</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>sh</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>rsync --update ~/Library/Safari/History.db /tmp/safari-history.db &amp;&amp; ./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string></string>
          <key>title</key>
          <string>Fuzzy search safari history</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>B72F7D7B-1E7B-4B55-90C3-CFC6B5EA5522</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string/>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>DAD248F2-1355-409D-A19A-553B02AE756A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>B72F7D7B-1E7B-4B55-90C3-CFC6B5EA5522</key>
      <dict>
        <key>xpos</key>
        <integer>205</integer>
        <key>ypos</key>
        <integer>85</integer>
      </dict>
      <key>DAD248F2-1355-409D-A19A-553B02AE756A</key>
      <dict>
        <key>xpos</key>
        <integer>490</integer>
        <key>ypos</key>
        <integer>85</integer>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>blog.tnguyen.one</string>
  </dict>
</plist>
